<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AmbienteSite" value="http://localhost:8080/" />
    <add key="PassToDescrypt" value="cida0" />
    
    <add key="ChavePublicaProd" value="-----BEGIN PUBLIC KEY-----MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApqS+aQbA6dIDXWuUZ/RE MlgNL4Z3mlLAqaS1Q9UMcLtkqGSO+qAh2z0tDtJ+vtuf9M+hc68MlNUrpgJF1j1S hpPTKcscTe2QTIw3oHYc98uPLi6gzDRLWdv57rtVuhrKPfuDgtto28mq1AR8RfAp R8eMuEuY2ODohSna/eJ8AhP+vDVxZy7wcILImcEu4Ttt9Pvq9KOpbbVsczleu8bY 9QtNUAqsMAXKfRCBp9QqydwCUPExrF4VF0Y+nR+FPNjx8qbdGP8Em5T+T5TdA3az a7j9CUZ+5ZcTG0j580HSYijblauAzizDtG2nupOb++4pWmeq71rW5fIDKRIPNStW SQIDAQAB-----END PUBLIC KEY-----" />
    <add key="ChavePublicaDev" value="-----BEGIN PUBLIC KEY-----MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAiZNwCMDKwDFz48Jt+hfbmEuXilKfKt0RvBVVz9LyMulGE30R3NeWk/N9CH00mkezXwXv0AivteTHgZvmVf1dQZ7MaqlStXvjGmlRuK/9BAoD+5SmWz1iyVeuDeAd1qPFriWk/bcoW4YMM4qDfLIcib9lnScab2ce6gUJbbSGMhuy5AJExzmpJIWKK/FoAinRqeC7thBuXEvLwu1JtafrZWLq23tXtCKqV1rh5LOTnE4aqriJhSkt1n9IO5DjVYUsB66uWXkUJgFMhokGKrgauAmL8xOun5D/FRUrYHMV5irNp6Ot2nxXn0B6Tvu3TCyvZc5GWeR18UdTXi22d8GlJwIDAQAB-----END PUBLIC KEY-----" />
    <add key="WireTokenProd" value="FQVUY8WG8QNE5IQELBIXKNS0B03SGP6X" />
    <add key="WireKeyProd" value="OXTYSLU2BTJIBD9X3OEBCXSR3CFRAZUYWT79ZGFI" />
    <add key="WireTokenDev" value="MA0WEIU3EFHHASTX8K7ZRCIOHDOJM3PW" />
    <add key="WireKeyDev" value="4MREIRYBPBXKPVNKKIJC1IYYNYMGS889BCFUC4WQ" />

    <add key="Producao" value="1" />
    <add key="CorreiosCEPOrigem" value="06045420" />
    <add key="CorreiosCodFormato" value="1" />
    <add key="DiasParaProcessarNoAio" value="2" />
    <add key="EmailSuporte" value="aiopratassuporte@gmail.com" />
    <add key="EmailSuporteSenha" value="2aiosegs" />
    <add key="EmailInformativo" value="aiopratasinformativos@gmail.com" />
    <add key="EmailInformativoSenha" value="2aiosegs" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=198.38.83.200;Database=saulodac_ecommerce;User ID=saulodac_admin;Password=autask123;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="ConnectionStringDev" connectionString="Data Source=localhost;Initial Catalog=saulodac_ecommerce;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>-->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <authentication mode="Forms">
      <forms name="aiopSessaoLogin" loginUrl="~/Usuario/Login" timeout="9999999" slidingExpiration="true" />
    </authentication>
    <roleManager enabled="true" defaultProvider="PermissaoProvider">
      <providers>
        <add name="PermissaoProvider" type="Ecommerce.Seguranca.PermissaoProvider" />
      </providers>
    </roleManager>
    <globalization  culture="pt-BR"  uiCulture="pt-BR"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
