@{
    ViewBag.Title = string.Empty;
    ViewBag.Description = "A AIO Pratas oferece joias delicadas e encantadoras como aneis, colares, brincos, gargantilhas, braceletes, pulseiras e aliancas, tem a reputacao de ser maior loja de vendas de pratas do Brasil com a mais bem avaliada em experiencia de usuario e de entrega com qualidade.";
    ViewBag.Keywords = "AIO Pratas, Joias, Brincos, Aliancas, Compromisso, Namoro, Pulseiras, Aneis, Pingentes, Casamento, Prata, Conjuntos, Berloques, Colares, Gargantilha, Pulseira, Corrente";
}
<h1 style="display: none">AIO Pratas</h1>
<!-- Slider -->
<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">
            <div class="item-slick1" style="background-image: url(/Content/images/Home/50Desconto.png);height: 500px !important;">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5" title="Nova Coleção 2020 de Brincos">
                    </div>
                </div>
            </div>
            <div class="item-slick1" style="background-image: url(/Content/images/Home/bannerBrincos.jpg); height: 500px !important;">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5" title="Nova Coleção 2020 de Gargantilhas e Colares">
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                            <span class="ltext-101 cl2 respon2" style="font-size: 23px;">
                                Nova Coleção 2020
                            </span>
                        </div>
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                            <h2 class="cl2 p-t-19 p-b-43 respon1" style="font-family: none;font-size: 50px;">
                                Brincos
                            </h2>
                        </div>
                        <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1200">
                            <a href="/Produtos/Brincos" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Conferir
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Banner -->
<div class="sec-banner bg0 p-t-80 p-b-50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="/Content/images/Home/pulseiras-01.jpg" alt="Pulseiras" title="Pulseiras" />
                    <a href="/Produtos/Pulseiras" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3" title="Pulseiras Coleção 2020" style="flex-direction: column-reverse;">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                Pulseiras
                            </span>
                            <span class="block1-info stext-102 trans-04">
                                Coleção 2020
                            </span>
                        </div>
                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                CONFERIR
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="/Content/images/Home/colares-01.jpg" alt="Colares" title="Colares" />
                    <a href="/Produtos/Colares" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3" title="Colares Coleção 2020" style="flex-direction: column-reverse;">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                Colares
                            </span>
                            <span class="block1-info stext-102 trans-04">
                                Coleção 2020
                            </span>
                        </div>
                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                CONFERIR
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="/Content/images/Home/brincos-01.jpg" alt="Brincos" title="Brincos">
                    <a href="/Produtos/Brincos" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3" title="Brincos Coleção 2020" style="flex-direction: column-reverse;">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                Brincos
                            </span>
                            <span class="block1-info stext-102 trans-04">
                                Coleção 2020
                            </span>
                        </div>
                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                CONFERIR
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="position: fixed; left: 0; bottom: 0; width: 100%; background-color: #222222; color: white; text-align: center;z-index:1000">
    <p style="font-size: 12px;">FRETE GRÁTIS PARA COMPRAS ACIMA DE R$ 160,00</p>
</div>
<div id="divProdutosA" style="min-height:120px;margin-top: 7px;padding-bottom: 40px;">
    <div class="lds-ellipsis" id="loaderDivProdutosA" style="width: 80px;height: 80px;position: relative;left: 50%;right: 50%;top: 50%;z-index: 100000000;transform: translate(-50%,-50%);"><div></div><div></div><div></div><div></div></div>
</div>
<div id="divProdutosB" style="min-height:120px;margin-top: 19px;margin-bottom:80px">
    <div class="lds-ellipsis" id="loaderDivProdutosB" style="width: 80px;height: 80px;position: relative;left: 50%;right: 50%;top: 50%;z-index: 100000000;transform: translate(-50%,-50%);"><div></div><div></div><div></div><div></div></div>
</div>
@section scripts{
    <script>
        $(() => {
            function CarregarProdutosA(nome, idDiv, codsCategoria, idDivLoad) {
                $.ajax({
                    type: 'GET',
                    url: '/Home/ObterProdutosPorCat?codsCategoria=' + codsCategoria + '&nome=' + nome,
                    success: function (r) {
                        $('#' + idDiv).html(r);
                        $('#' + idDivLoad).fadeOut(0);
                        CarregarProdutosB('Berloques', 'divProdutosB', 32, 'loaderDivProdutosB');
                    },
                    error: function (e) {
                        $('#' + idDivLoad).fadeOut(0);
                    }
                });
            }
            function CarregarProdutosB(nome, idDiv, codsCategoria, idDivLoad) {
                $.ajax({
                    type: 'GET',
                    url: '/Home/ObterProdutosPorCat?codsCategoria=' + codsCategoria + '&nome=' + nome,
                    success: function (r) {
                        $('#' + idDiv).html(r);
                        $('#' + idDivLoad).fadeOut(0);
                    },
                    error: function (e) {
                        $('#' + idDivLoad).fadeOut(0);
                    }
                });
            }
            CarregarProdutosA('Em destaque', 'divProdutosA', 33, 'loaderDivProdutosA');
        });
    </script>
}