<link href="~/Content/Sidebar/css/style.min.css" rel="stylesheet" />
<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
    <ul class="list-unstyled components mb-5">
        <li id="liMeusPedidos">
            <a href="/Pedidos" title="Meus Pedidos"><span class="fa fa-truck mr-3"></span>Meus Pedidos</a>
        </li>
        <li id="liMinhaConta">
            <a href="/Usuario/Conta" title="Minha Conta"><span class="fa fa-user mr-3"></span>Minha Conta</a>
        </li>
        <li>
            <a href="/Usuario/Sair" title="Sair"><span class="fa fa-sign-out mr-3"></span>Sair</a>
        </li>
    </ul>
</nav>